@model PaymentMethod

<form asp-action="Create" asp-antiforgery="true" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Utwórz</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </div>

</form>