<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link  text-white" asp-action="" asp-controller=""
           id="dropdown_unternehmen" data-toggle="dropdown">
            test
        </a>
        <div class="dropdown-menu dropdown-width" aria-labelledby="dropdown_unternehmen">
            <div class="row col-12">
                <a class="dropdown-item" asp-action="" asp-controller="">Moje zamówienia</a>
                <a class="dropdown-item" asp-action="" asp-controller="">Mój profil</a>
                <a class="dropdown-item" asp-action="" asp-controller="">Wyloguj</a>
            </div>
        </div>
    </li>
</ul>