  <form asp-area="" asp-controller="Search" asp-action="SearchItems" class="form-inline" method="post" asp-antiforgery="true">
    <input class="form-control" name="searchString" type="search" placeholder="Szukaj" aria-label="Search">
      <button class="btn navbar" type="submit"><i class="fas fa-search fa-lg"></i></button>
</form>