  <form asp-area="" asp-controller="Search" asp-action="SearchItems" class="form-inline" method="post" asp-antiforgery="true">
    <input class="form-control" name="searchString" type="search" placeholder="Szukaj" aria-label="Search">
      <a class="btn navbar" href="#"><i class="fas fa-search fa-lg"></i></a>
      <button type="submit">dasdsa</button>
</form>