<h5>Newsletter</h5>
<form class="form-group" method="post" asp-action="Subscribe" asp-controller="Newsletter">
    <fieldset class="form-group">
        <input type="email" class="form-control" placeholder="Podaj email" />
    </fieldset>
    <button type="submit" class="btn btn-secondary btn-lg">Zapisz się</button>
</form>