@model Product
@{
    ViewData["Title"] = "Edycja książki";
}

<form asp-action="Edit" asp-antiforgery="true" method="post" enctype="multipart/form-data" role="form">
    <input type="hidden" asp-for="ProductId">
    <div class="form-group">
        <label asp-for="Title"></label>
        <div><span asp-validation-for="Title" class="text-danger"></span></div>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Author"></label>
        <div><span asp-validation-for="Author" class="text-danger"></span></div>
        <select asp-for="Author" model-for="Author" Author class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="Image"></label>
        <div><span asp-validation-for="Image" class="text-danger"></span></div>
        <input type="file" asp-for="Image">
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <div><span asp-validation-for="Category" class="text-danger"></span></div>
        <select asp-for="Category" model-for="Category" ProductCategory class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="SalesType"></label>
        <div><span asp-validation-for="SalesType" class="text-danger"></span></div>
        <select asp-for="SalesType" asp-items="EnumExtensions.GetEnumSelectList<Product.SalesTypeEnums>()" class="form-control">
            <option>Wybierz kategorię</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="NumberOfPages"></label>
        <div><span asp-validation-for="NumberOfPages" class="text-danger"></span></div>
        <input asp-for="NumberOfPages" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Cover"></label>
        <div><span asp-validation-for="Cover" class="text-danger"></span></div>
        <input asp-for="Cover" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PublishingHouse"></label>
        <div><span asp-validation-for="PublishingHouse" class="text-danger"></span></div>
        <input asp-for="PublishingHouse" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <div><span asp-validation-for="Description" class="text-danger"></span></div>
        <textarea asp-for="Description" class="form-control" ></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </div>
</form>