<div class="text-white">
    <a asp-area="" asp-controller="" asp-action="" class="text-white">Zaloguj</a>/
    <a asp-area="" asp-controller="" asp-action="" class="text-white">Zarejestruj</a>
</div>