<div class="text-white">
    <a asp-area="" asp-controller="User" asp-action="Login" class="text-white">Zaloguj</a>/
    <a asp-area="" asp-controller="Register" asp-action="Register" class="text-white">Zarejestruj</a>
</div>