<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>@ViewData["Title"]</title>
    <style>
        .input-validation-error {
            border-color: red;
        }
    </style>
    
    <environment names="development">
        <link asp-href-include="/lib/bootstrap/dist/css/*.min.css"  rel="stylesheet" />
        <link asp-href-include="/lib/fontawesome/css/*.css"  rel="stylesheet" />
        <link asp-href-include="/lib/admin-lte/css/AdminLTE.css" rel="stylesheet" />
        <link asp-href-include="/lib/admin-lte/css/skins/_all-skins.css" rel="stylesheet"/>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/js/sidebar.js"></script>
        <script src="/lib/jquery-validate/dist/jquery.validate.min.js"></script>
        <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="/lib/admin-lte/js/adminlte.js"></script>
    </environment>

    <environment names="staging, production">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              asp-href-include="/lib/bootstrap/dist/**/*.min.css"
              asp-href-exclude="**/*-reboot*,**/*-grid*"
              asp-fallback-test-class="btn"
              asp-fallback-test-property="display"
              asp-fallback-test-value="inline-block"
              rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.4.1/css/*.css"
              asp-href-include="/lib/fontawesome/css/*.css"
              asp-fallback-test-class="fa"
              asp-fallback-test-property="font-family"
              asp-fallback-test-value="FontAwesome"
              rel="stylesheet" />
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"
                asp-fallback-src="/lib/jquery/dist/jquery.min.js"
                asp-fallback-src-include="**.slim.**"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="/lib/admin-lte/js/adminlte.js" asp-append-version="true"></script>
        <script src="/js/sidebar.js"></script>
        
        <link asp-href-include="/lib/admin-lte/css/AdminLTE.css" rel="stylesheet" asp-append-version="true" />
        <link asp-href-include="/lib/admin-lte/css/skins/_all-skins.css" rel="stylesheet" asp-append-version="true"/>
    </environment>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>A</b>LT</span>
                <span class="logo-lg"><b>Admin</b>LTE</span>
            </a>
            <nav class="navbar-toggleable navbar">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>

                <div class="navbar-collapse collapse justify-content-end">
                    <ul class="nav navbar-nav">
                        @await Component.InvokeAsync("AdminUser")
                    </ul>
                </div>
            </nav>
        </header>
        @await Component.InvokeAsync("AdminLeftPanel")

        <div class="content-wrapper p-2" style="background-color: white">
            @RenderBody()
        </div>

        <footer class="main-footer">
            <div class="pull-right">
                <b>Version</b> 0.0.1
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year  </strong> All rights reserved.
        </footer>
    </div>
   
</body>
</html>