<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
        }
    </style>
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <link rel="stylesheet" href="~/lib/admin-lte/css/AdminLTE.css" />
    <link rel="stylesheet" href="~/lib/admin-lte/css/skins/_all-skins.css" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validate/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="~/lib/admin-lte/js/adminlte.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>A</b>LT</span>
                <span class="logo-lg"><b>Admin</b>LTE</span>
            </a>
            <nav class="navbar-toggleable navbar">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>

                <div class="navbar-collapse collapse justify-content-end">
                    <ul class="nav navbar-nav">
                        @await Component.InvokeAsync("AdminUser")
                    </ul>
                </div>
            </nav>
        </header>
        @await Component.InvokeAsync("AdminLeftPanel")

        <div class="content-wrapper p-2" style="background-color: white">
            @RenderBody()
        </div>

        <footer class="main-footer">
            <div class="pull-right">
                <b>Version</b> 0.0.1
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year  </strong> All rights reserved.
        </footer>
    </div>
   
</body>
</html>