@{
    ViewData["Title"] = "Metody dostawy";
}

<div class="container">
    <div class="row header">
        <div class="col-xl-12 text-center">
            <h1>Lorem Ipsum</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 first-column">
            <p>This column takes the full height as its sibling column thanks to Flexbox</p>
        </div>
        <div class="col-sm-6 second-column">
            <p>
                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
            </p>
        </div>
    </div>
    <div class="row">

    </div>
</div>
