@model int
@{
    ViewData["Title"] = "Śledzenie zamówienia";
}

<div class="text-center">
    <h4>Edycja numeru śledzenia zamówienia o numerze @Model</h4>
</div>

<form asp-area="Admin" asp-controller="Order" asp-action="AddTrackingNumber" asp-antiforgery="true" asp-route-orderId="@Model" method="post">
    <div class="form-group">
        <input name="@Model" type="hidden" class="form-control" />
    </div>
    <div class="form-group">
        <label for="trackingNumber"></label>
        <input name="trackingNumber" class="form-control" />
    </div>

    <button type="submit">Zapisz</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>