@model Order
@{
    ViewData["Title"] = "Edycja zamówienia";
}

<div class="text-center">
    <h4>Edycja statusu zamówienia o numerze @Model.OrderId</h4>
</div>

<form asp-area="Admin" asp-controller="Order" asp-action="Edit" asp-antiforgery="true" asp-route-orderId="@Model.OrderId" method="post">
    <select asp-for="@Model.Status" asp-items="EnumExtensions.GetEnumSelectList<Order.OrderStatus>()">
        <option selected="selected" value="">Please select</option>
    </select>
    <button type="submit">Zatwierdź status</button>
</form>