@model IEnumerable<DeliveryMethod>
@{
    ViewData["Title"] = "Wszystkie płatności";
}

<div class="text-center">
    <h4>Lista płatności</h4>
</div>

<table class="table table-bordered table-hover table-sm" role="grid">
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Sposoby zapłaty</th>
        <th></th>
    </tr>

    @if (!Model.Any())
    {
        <tr><td colspan="4" class="text-center">Brak metod dostawy</td></tr>
    }
    else
    {
        foreach (var deliveryMethod in Model)
        {
            <tr>
                <td>@deliveryMethod.DeliveryMethodId</td>
                <td>@deliveryMethod.Name</td>
                <td>@deliveryMethod.PaymentMethods?.Count()</td>
                <td><a asp-action="Edit" asp-route-deliveryMethodId="@deliveryMethod.DeliveryMethodId" class="btn btn-primary">Edytuj</a></td>
            </tr>
        }
    }

</table>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Dodaj nowy sposób dostawy</a>
</div>