@model IEnumerable<Author>
@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<h2>Lista autorów</h2>

<div class="card col-xl-auto">
    <div class="card-header">
        <div class="row">
            <div class="col-xl-2 text-center">Imię</div>
            <div class="col-xl-2 text-center">Nazwisko</div>
            <div class="col-xl-7 text-center">Biografia</div>
            <div class="col-xl-1 text-center">Książki</div>
        </div>
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            foreach (var item in @Model)
            {
                <partial name="Author" for="@item"/>
            }
        }

    </div>
</div>

<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Dodaj autora</a>
</div>