@model Order

<p>Składanie zamówienia</p>

<form asp-action="Checkout" method="post">
    <div class="form-group">
        <div><span asp-validation-for="Name"></span></div>
        <label>Imię:</label><input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <span asp-validation-for="Surname"></span>
        <label>Nazwisko:</label><input asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <div><span asp-validation-for="Line1"></span></div>
        <label>Adres:</label><input asp-for="Line1" class="form-control" />
        <label>Adres c.d.:</label><input asp-for="Line2" class="form-control" />
        <label>Adres c.d.:</label><input asp-for="Line3" class="form-control" />
    </div>
    <div class="form-group">
        <span asp-validation-for="City"></span>
        <label>Miasto:</label><input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <span asp-validation-for="Zip"></span>
        <label>Kod pocztowy:</label><input asp-for="Zip" class="form-control" />
    </div>
    <div class="form-group">
        <span asp-validation-for="Country"></span>
        <label>Kraj:</label><input asp-for="Country" class="form-control" />
    </div>
    <div class="custom-checkbox">
        <label>
            <input asp-for="GiftWrap"/> Zapakować jako prezent
        </label>
    </div>
    <div class="text-center">
        <input class="btn btn-secondary" type="submit" value="Złóż zamówienie"/>
    </div>
</form>