@model IEnumerable<Order>
@{
    ViewBag.Title = "Zamówienia";
}

@if (Model.Any())
{
    <table class="table table-bordered table-striped">
        <tr><th>Name</th><th>Zip</th><th colspan="2">Details</th></tr>

        @foreach (Order order in Model)
        {
            <tr>
                <td>@order.Customer.Name</td>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
            foreach (CartLine cartLine in order.Lines)
             {
                 <tr>
                     <td colspan="2"></td>
                     <td>@cartLine.Product.Title</td>
                     <td>@cartLine.Quantity</td>
                 </tr>
             }
        }

    </table>
}
else
{
    <div class="text-center">Brak niezrealizowanych zamówień</div>
}