@{
    ViewData["Title"] = "Zamówienie";
}

<div class="container">
    <div class="row text-center">
        <div class="col-xl-6">
            <h4>Logowanie</h4>
            <form asp-action="" asp-antiforgery="true" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="E-mail">
                        <div class="input-group-addon">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Hasło">
                        <div class="input-group-addon">
                            <i class="fas fa-key"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="custom-checkbox icheck">
                            <label>
                                <input type="checkbox"> Zapamiętaj mnie
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Zaloguj się</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xl-6 d-flex align-items-center flex-column text-center">
            <h4>Nie posiadam konta</h4>
            <div class="">
                <a class="btn btn-primary" asp-area="" asp-action="Checkout" asp-controller="Order">Kontynuuj bez logowania</a>
            </div>
            <h4 class="mt-auto">Lub</h4>
            <div class="mt-auto">
                <a class="btn btn-primary" asp-area="" asp-action="Register" asp-controller="Register">Załóż konto</a>
            </div>
        </div>
    </div>
</div>