@model Cart

<div class="container">
    <div class="row justify-content-center mt-0">
        <div class="col-xl-12 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2><strong>Formularz zamówienia</strong></h2>
                <p>Uzupełnij wszystkie wymagane pola, aby przejść do kolejnego kroku</p>
                <div class="row">
                    <div class="col-xl-12 mx-0">
                        <div id="msform">
                            <ul class="progressbar2" id="progressbar" class="text-center">
                                <li class="active fas fa-shopping-cart">Koszyk</li>
                                <li class="fas fa-user">Dane osobowe</li>
                                <li class="fab fa-amazon-pay">Płatność</li>
                                <li class="fas fa-check">Koniec</li>
                            </ul>
                            <br />
                            <form method="post">
                                <fieldset class="col-xl-12">
                                    <div class="form-group">
                                        <h2 class="fs-title">Podsumowanie koszyka</h2>

                                        <div class="card col-xl-auto">
                                            <div class="card-header col-xl-auto">
                                                <div class="row col-xl-auto">
                                                    <div class="col-xl-4 text-center">Produkt</div>
                                                    <div class="col-xl-2 text-center">Cena</div>
                                                    <div class="col-xl-2 text-center">Ilość</div>
                                                    <div class="col-xl-3 text-center"><span class="float-right">Razem</span></div>
                                                    <div class="col-xl-1 text-center"></div>
                                                </div>
                                            </div>
                                            <div class="card-body">

                                                @foreach (var item in @Model.Lines)
                                                {
                                                    <partial name="CartLine" for="@item" />
                                                }

                                            </div>
                                            <div class="card-footer">
                                                <div class="row">
                                                    <div class="col-xl-10">
                                                        <span numero-items>
                                                            Liczba produktów: @Model.Lines.Sum(x => x.Quantity)
                                                        </span>
                                                    </div>
                                                    <div class="col-xl-2">
                                                        Suma:
                                                        <span class="pull-right" total>
                                                            @Model.ComputeTotalValue().ToString("c")
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <br />
                                    </div>
                                    <a asp-area="" asp-controller="Cart" asp-action="Index" class="btn btn-info">Wróć ko koszyka</a>
                                    <input type="button" name="next" class="next action-button" value="Next Step" />
                                </fieldset>
                                <fieldset class="col-xl-9">
                                    <h2 class="fs-title">Dane osobowe i adres</h2>
                                    <div class="row">
                                        <div class="form-group col-xl-6">
                                            <input type="text" placeholder="Imię" />
                                            <input type="text" placeholder="Nazwisko" />
                                            <input type="text" placeholder="Miasto" />
                                            <input type="text" placeholder="Ulica" />
                                            <input type="text" placeholder="Kod pocztowy" />
                                            <input type="text" placeholder="Numer telefonu" />
                                        </div>
                                        <div class="form-group col-xl-6">
                                            <input type="text" placeholder="Imię" />
                                            <input type="text" placeholder="Nazwisko" />
                                            <input type="text" placeholder="Miasto" />
                                            <input type="text" placeholder="Ulica" />
                                            <input type="text" placeholder="Kod pocztowy" />
                                            <input type="text" placeholder="Numer telefonu" />
                                        </div>
                                    </div>

                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                    <input type="button" name="next" class="next btn btn-success" value="Next Step123" />
                                </fieldset>
                                <fieldset class="col-xl-10">
                                    <div class="form-group">
                                        <h2 class="fs-title">Payment Information</h2>
                                        <div class="radio-group">
                                            <div class='radio' data-value="credit"><img src="https://i.imgur.com/XzOzVHZ.jpg" width="200px" height="100px"></div>
                                            <div class='radio' data-value="paypal"><img src="https://i.imgur.com/jXjwZlj.jpg" width="200px" height="100px"></div> <br>
                                        </div> <label class="pay">Card Holder Name*</label> <input type="text" name="holdername" placeholder="" />
                                        <div class="row">
                                            <div class="col-9"> <label class="pay">Card Number*</label> <input type="text" name="cardno" placeholder="" /> </div>
                                            <div class="col-3"> <label class="pay">CVC*</label> <input type="password" name="cvcpwd" placeholder="***" /> </div>
                                        </div>
                                    </div> <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> <input type="button" name="make_payment"
                                                                                                                                                   class="next action-button" value="Confirm" />
                                </fieldset>
                                <fieldset class="col-xl-11">
                                    <div class="form-group">
                                        <h2 class="fs-title text-center">Sukces !</h2> <br><br>

                                        <div class="row justify-content-center">
                                            <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                                        </div> <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-7 text-center">
                                                <h5>Twoje zamówienie zostało przekazane do realizacji! Dziękujemy za wybranie naszego sklepu!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
