@model LoginModel
@{
    ViewData["Title"] = "Logowanie";
}

<style type="text/css">
    .btnwidth {
        width: 230px;
    }
</style>
<div class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row justify-content-end">
        <div class="col-xl-6">
            <h4>Logowanie</h4>
            <form asp-action="Login" asp-antiforgery="true" method="post">
                <div><span asp-validation-for="Email" class="text-danger"></span></div>
                <div class="input-group" style="margin-bottom: 20px">
                    <input type="email" asp-for="Email" class="form-control" placeholder="E-mail">
                    <div class="input-group-addon">
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
                <div><span asp-validation-for="Password" class="text-danger"></span></div>
                <div class="input-group" style="margin-bottom: 20px">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Hasło">
                    <div class="input-group-addon">
                        <i class="fas fa-key"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="custom-checkbox icheck">
                            <label>
                                <input type="checkbox"> Zapamiętaj mnie
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Zaloguj się</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xl-6 d-flex align-items-center flex-column text-center">
            <h4>Nie posiadasz konta?</h4>
            <a class="btn btn-primary btnwidth" asp-area="" asp-action="Register" asp-controller="Register">Załóż konto</a>
        </div>
    </div>
</div>